body{
    background-color: black;
}
form{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
h1{
    color: white;
    font-family:'Times New Roman', Times, serif;
}